.landing-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.landing-page-dashboard {
  width: 100%;
  height: 2271px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(240, 249, 255, 1);
}
 
.landing-page-group34130 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 167px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.landing-page-headerlogo {
  top: 53px;
  left: 103px;
  width: 216px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.landing-page-ginhawailogo1 {
  top: 0px;
  left: 0px;
  width: 216px;
  height: 77px;
  position: absolute;
}
 
.landing-page-group34129 {
  top: 57px;
  left: 999px;
  width: 176px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 153, 255, 1);
}
 
.landing-page-logout {
  gap: 10px;
  top: 0px;
  left: 15px;
  width: 158.63157653808594px;
  height: 70px;
  display: flex;
  padding: 16px 20px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.landing-page-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-vector10 {
  top: 25px;
  left: 16px;
  width: 25px;
  height: 18px;
  position: absolute;
}
 
.landing-page-group34131 {
  top: 191px;
  left: 103px;
  width: 1072px;
  height: 280px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle185 {
  top: 24px;
  left: 0px;
  width: 1072px;
  height: 250px;
  position: absolute;
  border-radius: 10px;
}
 
.landing-page-text11 {
  top: 48px;
  left: 36px;
  color: rgba(13, 153, 255, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-text12 {
  top: 159px;
  left: 36px;
  color: rgba(113, 113, 113, 1);
  width: 689px;
  height: auto;
  position: absolute;
  flex-grow: 1;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-text13 {
  top: 110px;
  left: 36px;
  color: rgba(113, 113, 113, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-websitemidterns71 {
  top: 0px;
  left: 755px;
  width: 280px;
  height: 280px;
  position: absolute;
}
 
.landing-page-group34145 {
  top: 880px;
  left: 103px;
  width: 644px;
  height: 592px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.landing-page-graph2 {
  top: 44px;
  left: 52px;
  width: 540px;
  height: 548px;
  position: absolute;
}
 
.landing-page-text14 {
  top: 21px;
  left: 48px;
  color: rgba(13, 153, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group34146 {
  top: 880px;
  left: 772px;
  width: 424px;
  height: 616px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle198 {
  top: 0px;
  left: 0px;
  width: 403px;
  height: 592px;
  position: absolute;
  border-radius: 10px;
}
 
.landing-page-text15 {
  top: 22px;
  left: 33px;
  color: rgba(13, 153, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-websitemidterns81 {
  top: 37px;
  left: 0px;
  width: 424px;
  height: 579px;
  position: absolute;
}
 
.landing-page-rectangle181 {
  top: 1496px;
  left: 103px;
  width: 1072px;
  height: 667px;
  position: absolute;
  border-radius: 10px;
}
 
.landing-page-group34147 {
  top: 1537px;
  left: 186px;
  width: 927px;
  height: 578px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-image71 {
  top: 57px;
  left: 0px;
  width: 927px;
  height: 521px;
  position: absolute;
}
 
.landing-page-text16 {
  color: rgba(13, 153, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group341441 {
  top: 525px;
  left: 772px;
  width: 403px;
  height: 287px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.landing-page-text17 {
  top: 14px;
  left: 22px;
  color: rgba(13, 153, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group34136 {
  top: 44px;
  left: 0px;
  width: 265px;
  height: 242.5339813232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-de5ef818fc {
  top: 0.000453948974609375px;
  left: 0px;
  width: 265px;
  height: 242.5339813232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-group1 {
  top: 0px;
  left: 0px;
  width: 265px;
  height: 242.5339813232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-clippathgroup {
  top: 0px;
  left: 0px;
  width: 265px;
  height: 242.5339813232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-frame99e1696178 {
  top: 0px;
  left: 0px;
  width: 265px;
  height: 242.5339813232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-vector11 {
  top: 0px;
  left: 0px;
  width: 265px;
  height: 243px;
  position: absolute;
}
 
.landing-page-group2 {
  top: 18.736238479614258px;
  left: 20.479530334472656px;
  width: 224.31590270996094px;
  height: 204.4501190185547px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-vector12 {
  top: 0px;
  left: 112.1581802368164px;
  width: 112px;
  height: 153px;
  position: absolute;
}
 
.landing-page-vector13 {
  top: 0px;
  left: -0.00009375000081490725px;
  width: 209px;
  height: 204px;
  position: absolute;
}
 
.landing-page-text18 {
  top: 84px;
  left: 102px;
  color: rgba(60, 215, 87, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-text19 {
  top: 124px;
  left: 101px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group341371 {
  top: 46.42430114746094px;
  left: 299px;
  width: 74px;
  height: 58.64008331298828px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-text20 {
  top: 48.575462341308594px;
  color: rgba(255, 255, 255, 1);
  width: 31px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-vector14 {
  top: 9.187114715576172px;
  left: 74px;
  width: 12px;
  height: 9px;
  position: absolute;
}
 
.landing-page-text21 {
  top: 68px;
  left: 268px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-rectangle194 {
  top: 157px;
  left: 265px;
  width: 129px;
  height: 37px;
  position: absolute;
  border-radius: 3px;
}
 
.landing-page-group34142 {
  top: 134px;
  left: 267px;
  width: 77px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-group34141 {
  top: 0px;
  left: 0px;
  width: 77px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-text22 {
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-vector15 {
  top: 163px;
  left: 274px;
  width: 25px;
  height: 23px;
  position: absolute;
}
 
.landing-page-rectangle196 {
  top: 157px;
  left: 265px;
  width: 4px;
  height: 37px;
  position: absolute;
  border-radius: 3px 0 0 3px;
}
 
.landing-page-vector16 {
  top: 96px;
  left: 360px;
  width: 13px;
  height: 12px;
  position: absolute;
}
 
.landing-page-text23 {
  top: 134px;
  left: 352px;
  color: rgba(255, 87, 87, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-text24 {
  top: 168px;
  left: 307px;
  color: rgba(255, 87, 87, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group34143 {
  top: 525px;
  left: 103px;
  width: 644px;
  height: 287px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(254, 254, 255, 1);
}
 
.landing-page-text25 {
  top: 14px;
  left: 36px;
  color: rgba(13, 153, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group34133 {
  top: 46.7666015625px;
  left: 41px;
  width: 176px;
  height: 198.2333984375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle1871 {
  top: 21.2333984375px;
  left: 0px;
  width: 176px;
  height: 177px;
  position: absolute;
  border-radius: 10px;
}
 
.landing-page-text26 {
  top: 51.2333984375px;
  left: 62px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group341321 {
  top: 0px;
  left: 18px;
  width: 36px;
  height: 78.2333984375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-ellipse111 {
  top: 42.2333984375px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
}
 
.landing-page-vector17 {
  top: -0.00000762939453125px;
  left: 9.209301948547363px;
  width: 21px;
  height: 15px;
  position: absolute;
}
 
.landing-page-text27 {
  top: 97.2333984375px;
  left: 67px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group34134 {
  top: 68px;
  left: 238px;
  width: 176px;
  height: 177px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 226, 230, 1);
}
 
.landing-page-text28 {
  top: 21px;
  left: 62px;
  color: rgba(128, 128, 128, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group341322 {
  top: 21px;
  left: 18px;
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-ellipse112 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
}
 
.landing-page-text29 {
  top: 76px;
  left: 67px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group34135 {
  top: 48.26171875px;
  left: 434px;
  width: 176px;
  height: 196.73828125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle1872 {
  top: 19.73828125px;
  left: 0px;
  width: 176px;
  height: 177px;
  position: absolute;
  border-radius: 10px;
}
 
.landing-page-text30 {
  top: 49.73828125px;
  left: 62px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group341323 {
  top: 40.73828125px;
  left: 18px;
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-ellipse113 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
}
 
.landing-page-text31 {
  top: 95.73828125px;
  left: 67px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-vector18 {
  top: 0.0004177093505859375px;
  left: 43px;
  width: 14px;
  height: 15px;
  position: absolute;
}
 
.landing-page-vector19 {
  top: 50.73828125px;
  left: 43px;
  width: 15px;
  height: 15px;
  position: absolute;
}
 
.landing-page-vector20 {
  top: 47.34375px;
  left: 264px;
  width: 20px;
  height: 18px;
  position: absolute;
}
 
.landing-page-vector21 {
  top: 98px;
  left: 68px;
  width: 21px;
  height: 17px;
  position: absolute;
}
 
.landing-page-vector22 {
  top: 98px;
  left: 264px;
  width: 20px;
  height: 18px;
  position: absolute;
}
 
.landing-page-variant1 {
  top: 2020px;
  left: 939px;
  width: 111px;
  height: 68.31315612792969px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.landing-page-group341031 {
  top: 35.3134765625px;
  left: 0px;
  width: 110.75991821289062px;
  height: 24.313152313232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle1301 {
  top: 0.0001618117094039917px;
  left: 1px;
  width: 108px;
  height: 24px;
  position: absolute;
  border-radius: 5px;
}
 
.landing-page-text32 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group341021 {
  top: 0px;
  left: 0px;
  width: 110.75991821289062px;
  height: 24.313152313232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle1302 {
  top: 0.0001618117094039917px;
  left: 1px;
  width: 108px;
  height: 24px;
  position: absolute;
  border-radius: 5px;
}
 
.landing-page-text33 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-variant2 {
  top: 1796px;
  left: 939px;
  width: 111px;
  height: 68.31315612792969px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.landing-page-group341032 {
  top: 35.3134765625px;
  left: 0px;
  width: 110.75991821289062px;
  height: 24.313152313232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle1303 {
  top: 0.0001618117094039917px;
  left: 1px;
  width: 108px;
  height: 24px;
  position: absolute;
  border-radius: 5px;
}
 
.landing-page-text34 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group341022 {
  top: 0px;
  left: 0px;
  width: 110.75991821289062px;
  height: 24.313152313232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle1304 {
  top: 0.0001618117094039917px;
  left: 1px;
  width: 108px;
  height: 24px;
  position: absolute;
  border-radius: 5px;
}
 
.landing-page-text35 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-variant4 {
  top: 1908px;
  left: 939px;
  width: 111px;
  height: 68.31315612792969px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.landing-page-group341033 {
  top: 35.3134765625px;
  left: 0px;
  width: 110.75991821289062px;
  height: 24.313152313232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle1305 {
  top: 0.0001618117094039917px;
  left: 1px;
  width: 108px;
  height: 24px;
  position: absolute;
  border-radius: 5px;
}
 
.landing-page-text36 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group341023 {
  top: 0px;
  left: 0px;
  width: 110.75991821289062px;
  height: 24.313152313232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle1306 {
  top: 0.0001618117094039917px;
  left: 1px;
  width: 108px;
  height: 24px;
  position: absolute;
  border-radius: 5px;
}
 
.landing-page-text37 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-variant3 {
  top: 1684px;
  left: 939px;
  width: 111px;
  height: 68.31315612792969px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.landing-page-group341034 {
  top: 35.3134765625px;
  left: 0px;
  width: 110.75991821289062px;
  height: 24.313152313232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle1307 {
  top: 0.0001618117094039917px;
  left: 1px;
  width: 108px;
  height: 24px;
  position: absolute;
  border-radius: 5px;
}
 
.landing-page-text38 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-group341024 {
  top: 0px;
  left: 0px;
  width: 110.75991821289062px;
  height: 24.313152313232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle1308 {
  top: 0.0001618117094039917px;
  left: 1px;
  width: 108px;
  height: 24px;
  position: absolute;
  border-radius: 5px;
}
 
.landing-page-text39 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-component1 {
  top: 613px;
  left: 1040px;
  width: 116px;
  height: 201.4248046875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.landing-page-group341442 {
  top: -0.000244140625px;
  left: 0px;
  width: 116px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-group341372 {
  top: -0.00000762939453125px;
  left: 0px;
  width: 116px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.landing-page-rectangle189 {
  top: 0.0000152587890625px;
  left: 0px;
  width: 116px;
  height: 26px;
  position: absolute;
  border-radius: 3px;
}
 
.landing-page-text40 {
  top: 6.0000152587890625px;
  left: 33px;
  color: rgba(255, 255, 255, 1);
  width: 31px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-rectangle190 {
  top: 0.0000152587890625px;
  left: 85px;
  width: 31px;
  height: 26px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
 
.landing-page-ellipse9 {
  top: 5.000244140625px;
  left: 14px;
  width: 16px;
  height: 15px;
  position: absolute;
}
 
.landing-page-vector23 {
  top: 7.000244140625px;
  left: 94px;
  width: 13px;
  height: 12px;
  position: absolute;
}
